
{% extends 'webapp/base.html' %}

{% block content %}

    <body>

        <br>
        <br>

        <div class="text-center">

            <h3>Super Dashboard CRUD</h3>
            <br>
            <h5>Made with Django and React</h5>
            <br>
            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <h6>This project was developed by Felix Jurado  </h6>
            <br>
            <h6>All rights reserved 2023</h6>

        </div>

    </body>

{% endblock %}